---
users:
  - username: bill
    groups:
      - bill
    uid: 1000
    shell: /bin/bash    
    sudo: yes
    state: present
    comment: "Bill Knight"
    password: "{{ vault_bill_password }}"
    ssh_keys: "{{ vault_bill_ssh_keys }}"

  - username: hal  
    groups:
      - ansible  
    uid: 1999
    shell: /bin/bash    
    sudo: yes
    state: present
    comment: "Ansible System User"
    ssh_key: "{{ vault_hal_ssh_key }}"

  - username: loretta  
    groups:
      - loretta  
    uid: 1003
    shell: /bin/bash    
    sudo: yes
    state: present
    comment: "Loretta Knight"
    password: "{{ vault_loretta_password }}"

  - username: lily  
    groups:
      - lily  
    uid: 1002
    shell: /bin/bash    
    sudo: yes
    state: present
    comment: "Lily Knight"
    password: "{{ vault_lily_password }}"