# Paperless-ngx configuration template

PAPERLESS_REDIS={{ paperless_redis_url | default('redis://localhost:6379') }}
PAPERLESS_DBHOST={{ paperless_db_host | default('localhost') }}
PAPERLESS_DBPORT={{ paperless_db_port | default('5432') }}
PAPERLESS_DBNAME={{ paperless_db_name | default('paperlessdb') }}
PAPERLESS_DBUSER={{ paperless_db_user | default('paperless') }}
PAPERLESS_DBPASS={{ paperless_db_pass | default('changeme') }}

PAPERLESS_CONSUMPTION_DIR={{ paperless_consumption_dir | default('/mnt/paperless/consume') }}
PAPERLESS_DATA_DIR={{ paperless_data_dir | default('/mnt/paperless/data') }}
PAPERLESS_MEDIA_ROOT={{ paperless_media_root | default('/mnt/paperless/media') }}
PAPERLESS_STATICDIR={{ paperless_staticdir | default('/opt/paperless/static') }}
PAPERLESS_FILENAME_FORMAT={{'{{ created_date }}_{{ title }}'}}

PAPERLESS_SECRET_KEY=Qoq9kPTYL5quzIyO65FBI5qQIYPMidKJ
PAPERLESS_URL=https://paperless.knightcloud.net

PAPERLESS_CONSUMER_DELETE_DUPLICATES=true
PAPERLESS_OCR_CLEAN=clean
PAPERLESS_OCR_DELETE_BLANK_PAGES=true
PAPERLESS_FILENAME_FORMAT_REMOVE_NONE=true
PAPERLESS_CONSUMER_RECURSIVE=true
PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS=true

# Add more variables as needed...