{# roles/common/templates/ssh_config.j2 #}
{# Unified SSH client configuration for all workstations #}

{# the key on *this* workstation #}
{% set my_key = hostvars[inventory_hostname]['ssh_key'] | default(ssh_config_user | default('bill_desktop')) %}

{# which hosts to include #}
{% set ssh_hosts = groups['ssh'] | default([]) | unique %}

{% for h in ssh_hosts %}
{%   set alias = (h == 'localhost') and 'ansible' or h %}
{%   set remote_user = hostvars[h]['ansible_user'] | default('bill') %}
{%   set host_key = hostvars[h]['ssh_key'] | default(my_key) %}

Host {{ alias }}
  HostName      {{ hostvars[h]['ansible_host'] | default(h) }}
  User          {{ remote_user }}
  IdentityFile  ~/.ssh/{{ host_key }}
{% if h in groups['windows'] | default([]) %}
  # Windows-specific SSH settings
  PubkeyAcceptedKeyTypes +ssh-rsa
  KexAlgorithms +diffie-hellman-group14-sha256
{% endif %}

{% endfor %}

# GitHub configuration
Host github.com
  HostName      github.com
  User          git
  IdentityFile  ~/.ssh/{{ my_key }}
