---
# Load workstation variables
- name: Load workstation variables
  include_vars: group_vars/workstations.yml
  tags: always

# Load group variables
- name: Load group variables
  include_vars: group_vars/groups.yml
  tags: always

- name: Load user variables
  include_vars: group_vars/users.yml
  tags: always

#- include_tasks: groups.yml
- include_tasks: home_directory.yml
# - include_tasks: fstab.yml
# - include_tasks: ssh_config.yml
# - include_tasks: users.yml
