---
# update cache
- name: pre-run | update package cache (debian, etc)
  tags: always
  apt: update_cache=yes
  changed_when: False
  when: ansible_distribution in ["Debian", "Ubuntu"]

# Load group variables
- name: Load group variables
  include_vars: group_vars/groups.yml
  tags: always

- name: Load workstations_new variables for resilient NFS
  include_vars: group_vars/workstations_new.yml
  tags: always

- name: Filter NFS mounts for local ansible server (only bill and shared mounts)
  set_fact:
    local_nfs_mounts: "{{ nfs_mounts | selectattr('dest', 'match', '.*(bill-|media|paperless|shared_files|workouts).*') | list }}"
  tags: always

- name: Copy bashrc for Bill
  copy:
    src: "/home/bill/git/home.net/roles/common/files/users/bill/bashrc"
    dest: "/home/bill/.bashrc"
    owner: bill
    group: bill
    mode: '0644'

- include_tasks: groups.yml
- include_tasks: home_directory.yml
- include_tasks: fstab_new.yml
- include_tasks: user_directories_resilient.yml
- include_tasks: ssh_config.yml

