---
- name: Create Bill user
  user:
    name: bill
    groups: sudo,adm
    append: yes
    shell: /bin/bash
    state: present
    password: "{{ vault_bill_password }}"

- name: Ensure .ssh directory exists
  file:
    path: /home/bill/.ssh
    state: directory
    owner: bill
    group: bill
    mode: '0700'

- name: Set authorized keys for Bill from vault
  authorized_key:
    user: bill
    state: present
    key: "{{ item }}"
  loop: "{{ vault_bill_ssh_keys }}"
  no_log: true

- name: Copy bashrc for Bill
  copy:
    src: "{{ role_path }}/files/users/bill/bashrc"
    dest: "/home/bill/.bashrc"
    owner: bill
    group: bill
    mode: '0644'

- name: Ensure sudo rights for Bill
  copy:
    src: "{{ role_path }}/files/users/bill/sudoer_bill"
    dest: "/etc/sudoers.d/bill"
    owner: root
    group: root
    mode: '0440'
    validate: 'visudo -cf %s'

- name: Configure SSH daemon
  template:
    src: "{{ role_path }}/templates/sshd_config.j2"
    dest: "/etc/ssh/sshd_config"
    owner: root
    group: root
    mode: '0600'
  notify: restart_sshd

- name: Ensure SSH service is running and enabled
  service:
    name: sshd
    state: started
    enabled: yes
