// bookmarks.j2 for loretta/lily
file:///home/{{ user }}/desktop desktop
file:///home/{{ user }}/documents documents
file:///home/{{ user }}/downloads downloads
file:///media media
file:///mnt/paperless paperless
file:///home/bill/desktop desktop
file:///home/bill/documents documents
file:///home/bill/downloads downloads
file:///media media
file:///mnt/paperless paperless
file:///home/bill/media media
file:///home/bill/code code
file:///home/bill/git git
