file:///home/bill/desktop desktop
file:///home/bill/documents documents
file:///home/bill/downloads downloads
file:///home/bill/media media
file:///home/bill/code code
file:///home/bill/git git
file:///media media
file:///mnt/paperless paperless
file:///mnt/shared_files shared_files
file:///mnt/workouts workouts