file:///home/bill/desktop desktop
file:///home/bill/documents documents
file:///home/bill/downloads downloads
file:///home/bill/media media
file:///home/bill/code code
file:///home/bill/git git
file:///mnt/truenas/media TrueNAS Media
file:///mnt/truenas/paperless TrueNAS Paperless
file:///mnt/truenas/shared_files TrueNAS Shared Files
file:///mnt/truenas/workouts TrueNAS Workouts