file:///home/lily/desktop desktop
file:///home/lily/documents documents
file:///home/lily/downloads downloads
file:///mnt/truenas/media TrueNAS Media
file:///mnt/truenas/paperless TrueNAS Paperless
file:///mnt/truenas/shared_files TrueNAS Shared Files