file:///home/loretta/desktop desktop
file:///home/loretta/documents documents
file:///home/loretta/downloads downloads
file:///mnt/truenas/media TrueNAS Media
file:///mnt/truenas/paperless TrueNAS Paperless
file:///mnt/truenas/shared_files TrueNAS Shared Files