---
# Load vault variables
- name: Load vault variables
  include_vars: ~/git/home.net/vault.yml
  tags: always

# Load distro-specific variables (if needed)
- include_vars: "{{ ansible_distribution }}.yml"
  tags: always

# Load group variables
- name: Load group variables
  include_vars: group_vars/groups.yml
  tags: always

- block:
    # Create necessary groups
    - import_tasks: groups.yml

    # Make sure users exist on the system
    - import_tasks: users/bill.yml
    - import_tasks: users/hal.yml
    - import_tasks: users/app_user.yml

    # Set up the ansible environment
    - import_tasks: ansible_setup.yml

    # Install Python3 and pip3
    - import_tasks: system_setup/python_pip.yml

    # Install software (skip on Proxmox)
    - import_tasks: software/packages.yml
      when: not is_proxmox | default(false)

    # Perform remaining tasks (skip on Proxmox)
    - import_tasks: system_setup/clock.yml
      when: not is_proxmox | default(false)
    - import_tasks: system_setup/locale.yml
      when: not is_proxmox | default(false)
    - import_tasks: system_setup/logging.yml
    - import_tasks: system_setup/openssh.yml
      when: not is_proxmox | default(false)
    - import_tasks: system_setup/cron.yml
      when: not is_proxmox | default(false)

    # Add the new task to copy the provision script
    - name: Copy provision script
      template:
        src: provision.sh.j2
        dest: /usr/local/bin/provision
        owner: root
        group: root
        mode: '0755'

  rescue:
    - set_fact: task_failed=true


