{# roles/local/templates/ssh_config.j2 #}

{# the key on *this* workstation #}
{% set my_key    = hostvars[inventory_hostname]['ssh_key'] | default(ssh_config_user) %}

{# which hosts to include #}
{% set ssh_hosts = groups['ssh'] | default([]) | unique %}

{% for h in ssh_hosts %}
{%   set alias = (h == 'localhost') and 'ansible' or h %}

Host {{ alias }}
  HostName      {{ hostvars[h]['ansible_host'] | default(h) }}
  User          bill
  IdentityFile  ~/.ssh/{{ my_key }}

{% endfor %}