XDG_DESKTOP_DIR="$HOME/desktop"
XDG_DOCUMENTS_DIR="$HOME/documents"
XDG_DOWNLOAD_DIR="$HOME/downloads"
XDG_MUSIC_DIR="$HOME/media"
XDG_PICTURES_DIR="$HOME/media"
XDG_PUBLICSHARE_DIR="$HOME/documents"
XDG_TEMPLATES_DIR="$HOME/documents"
XDG_VIDEOS_DIR="$HOME/media"
